header {
    background-color: #666144;
    color: #000;
    padding: 10px;
}

#top {
    padding: 10px;
    background-color: #978662;
}

footer {
    background-color: #666144;
    padding: 20px;
    text-align: center;
}
  
  