/* Styles for the HTML and body elements */
html, body{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: white;
  
}

h1 {
  text-align: center;
}

/* Styles for the anchor element */
a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

/* Styles for the submit button element */
button[type="submit"] {
  background-color: #666144;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Styles for the submit button element when hovering */
button[type="submit"]:hover {
  background-color: #ddd673;
}


/* Styles for the content wrapper element */
.content-wrapper {
  flex: 1;
}

/* Styles for the input and textarea elements */
input, textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  
}

p {
  text-align: center;
  padding: 20;
}