/* Styles for the social media container */
.social-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  /* Styles for the social media links */
  .social-media a {
    margin-left: 10px;
  }
  
  /* Styles for the social media images */
  .social-media img {
    width: 30px;
    height: 30px;
  }