<!-- pages/templates/pages/header.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}J100{% endblock title %} </title>
    <link rel="stylesheet" href="{% static 'webpages/styles.css' %}">
    <script src="{% static 'webpages/jquery.js' %}"></script>
    <script src=" {% static 'webpages/script.js' %}"></script>
</head>
<body>
    <header>
      <nav>  
        <div class="middle-nav">
          <ul>
              <li><a href={% url 'landing_page' %}>Home</a></li>             
              <li class="dropdown">
                <a href="#" class="dropdown-toggle">About Us</a>
                <ul class="dropdown-menu">
                  <li><a href={% url 'history' %}>History</a></li>
                  <li><a href={% url 'lodge_officers' %}>Lodge Members</a></li>
                </ul>
              </li>
              <li><a href= {% url 'contact_us' %}>Contact Us</a></li>
          </ul>
          <div class="social-media">
            <a href="https://www.facebook.com/JML100PHA"><img src="{% static 'webpages/images/facebook.png' %}" alt="Facebook"></a>
            <a href="https://www.instagram.com/jerusalem_military_lodge_100/"><img src="{% static 'webpages/images/instagram.png' %}" alt="Instagram"></a>
          </div>
        </div>
      </nav>          
    </header>
    <header id="top">
      <nav>
        <div class="topnav">
          <div class="image-overlay"></div>
          <td class="logo image-bg"><img width="30px" src="{% static 'webpages/images/masonic_emblem.jpeg' %}" alt="masonic logo"></td>
          <div class="tagline"> <span> Jerusulum Military Lodge 100</span> </div>
          <td class="logo image-bg"><img width="30px" src="{% static 'webpages/images/masonic_emblem.jpeg' %}" alt="masonic logo"></td>
        </div>
      </nav>
    </header>
</body>
</html>