<!-- pages/templates/pages/history.html -->

{% include 'webpages/header.html' %}

<div class="content-wrapper">
    <main>
        <h1>Our History</h1>
        <!-- Add more content for the landing page here -->
        <p><font color="#FFFFFF">Freemasonry for men of color began when Prince Hall and fourteen other free
            black men were initiated into Lodge No. 441, Irish Constitution, attached to the
            38th Regiment of Foot, British Army Garrisoned at Castle William (now Fort
            Independence) Boston Harbor on March &nbsp;6, 1775. The Master of the Lodge was
            Sergeant John Batt. Along with Prince Hall, the other newly made masons were
            Cyrus Johnson, Bueston Slinger, Prince Rees, John Canton, Peter Freeman,
            Benjamin Tiler, Duff Ruform, Thomas Santerson, Prince Rayden, Cato Speain,
            Boston Smith, Peter Best, Forten Howard and Richard Titley.</font>
            <p><font color="#FFFFFF">When the British Army left Boston in 1776, this Lodge, No 441, granted Prince
            Hall and his brethren authority to meet as African Lodge #1 (Under
            Dispensation), to go in procession on St. John's Day, and as a Lodge to bury
            their dead; but they could not confer degrees nor perform any other Masonic
            &quot;work&quot;. For nine years these brethren, together with others who had
            received their degrees elsewhere, assembled and enjoyed their limited privileges
            as Masons. Thirty-three masons were listed on the rolls of African Lodge #1 on
            January 14th, 1779. &nbsp;Finally on March 2, 1784, Prince Hall petitioned the
            Grand Lodge of England, through a Worshipful Master of a subordinate Lodge in
            London (William Moody of Brotherly Love Lodge No. 55) for a warrant or charter.</font>
            <p><font color="#FFFFFF">The Warrant to African Lodge No. 459 of Boston is the most significant and
            highly prized document known to the Prince Hall Mason Fraternity. Through it our
            legitimacy is traced, and on it more than any other factor, our case rests. It
            was granted on September 29, 1784, delivered in Boston on April 29, 1787 by
            Captain James Scott, brother-in-law of John Hancock and master of the Neptune,
            under its authority African Lodge No. 459 was organized one week later, May 6,
            1787.</font>
            <p><font color="#FFFFFF">Prince Hall was appointed a Provincial Grand Master&nbsp;in 1791 by H.R.H.,
            the Prince of Wales. The question of extending Masonry arose when Absalom Jones
            of Philadelphia, Pennsylvania appeared in Boston. He was an ordained Episcopal
            priest and a mason who was interested in establishing a Masonic lodge in
            Philadelphia. Under the authority of the charter of African Lodge #459, Prince
            Hall established African Lodge #459 of Philadelphia on March 22, 1797 and Hiram
            Lodge #3 in Providence, Rhode Island on June 25, 1797. &nbsp;African Lodge of
            Boston became the &quot;Mother Lodge&quot; of the Prince Hall Family. &nbsp;It
            was typical for new lodges to be established in this manner in those days.
            &nbsp;The African Grand Lodge was not organized until 1808 when representatives
            of African Lodge #459 of Boston, African Lodge #459 of Philadelphia and Hiram
            Lodge #3 of Providence met in New York City.&nbsp;</font>
            <p><font color="#FFFFFF">Upon Prince Hall's death on December 4, 1807, Nero Prince became Master. When
            Nero Prince sailed to Russia in 1808, George Middleton succeeded him. After
            Middleton, Petrert Lew, Samuel H. Moody and then, John T. Hilton became Grand
            Master. In 1827, Hilton recommended a Declaration of Independence from the
            English Grand Lodge.</font>
            <p><font color="#FFFFFF">In 1869 a fire destroyed Massachusetts' Grand Lodge headquarters and a number
            of its priceless records. The charter in its metal tube was in the Grand Lodge
            chest. The tube saved the charter from the flames, but the intense heat charred
            the paper. It was at this time that Grand Master S.T. Kendall crawled into the
            burning building and in peril of his life, saved the charter from complete
            destruction. Thus a Grand Master's devotion and heroism further consecrated this
            parchment to us, and added a further detail to its already interesting history.
            The original Charter No. 459 has long since been made secure between heavy plate
            glass and is kept in a fire-proof vault in a downtown Boston bank.</font>
            <p><font color="#FFFFFF">Today, Prince Hall Freemasonry has over 4,500 lodges worldwide, forming 45(+)
            independent jurisdictions with a membership of over 300,000(+) Masons.  </font>
            <p>&nbsp;
            <hr>
            <p><font size="3" color="#FFFF00">Note: Be aware that many clandestine groups consisting primarily of men of color calling themselves "Masons" exist; However, they are not "Prince Hall Masons". </font>
            <p>&nbsp;
            <hr>
            <p><font size="-1" color="#FFFFFF">1. Prince Hall Masonic Directory, 4th Edition 1992.
            Conference of Grand Masters, Prince Hall Masons.</font>
    </main>
</div>

  

{% include 'webpages/footer.html' %}
